:root {
  --bg:#ffffff;
  --text: #333333;
  --header-bg: #eeeeee;
  --footer-bg: #eeeeee;
}

[data-theme="dark"] {
  --bg:#121212;
  --text: white;
  --header-bg: #1e1e1e;
  --footer-bg: #1e1e1e;
}

body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
