:root {
  --bg:#ffffff;
  --text: #333333;
  --header-bg: #eeeeee;
  --footer-bg: #eeeeee;
}

[data-theme="dark"] {
  --bg:#121212;
  --text: white;
  --header-bg: #1e1e1e;
  --footer-bg: #1e1e1e;
}

.navbar {
  padding: 8px;
  border-bottom: 1px solid var(--text);
  background: var(--header-bg);
  transform: translateY(-100%);
  opacity: 0;
  animation: slideDown 5s ease-out forwards;
}

.nav-link {
  margin-right: 12px;
  position: relative;
  transition: color 3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: var(--text);
  transition: width 1s ease;
}

.nav-link:hover {
  color: var(--header-bg);
}

.nav-link:hover::after {
  width: 100%;
}



@keyframes slideDown {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
